.NavBar {
  background-color: aquamarine;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  margin-bottom: 80px;
  box-shadow: 0 10px 18px 2px grey;
}
.NavBar a {
  font-family: monospace;
  font-size: 25px;
  text-decoration: none;
  margin: 50px;
}

.Welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110vh;
  background-image: linear-gradient(#ddc3dd 65%, #bbb0bb 75%, #9a9a9a 85%);
}
.Welcome h1 {
  margin-bottom: 60px;
}

.WeLive {
  background-image: url(./Obey.png);
  color: white;
  font-family: "Bradley Hand", cursive;
  padding: 80px 0 80px 0;
}
.WeLive h2 {
  font-size: 40px;
}